.watchlist-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .watchlist-item {
    text-align: center;
    max-width: 200px;
  }
  
  .watchlist-poster {
    width: 100%;
    border-radius: 8px;
  }
  
  .watchlist-title {
    margin-top: 10px;
    font-size: 1rem;
    color: #333;
  }
  

.empty-watchlist-message {
    font-size: 1.2rem;
    color: #666;
    text-align: center;
    margin-top: 20px;
  }
  